In [11]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Emily', 'Harry', 'Sophia', 'David'],
        'Age': [28, None, None, None, None],
        'Gender': ["Male", None, None, None, 'Male']}
df = pd.DataFrame(data)

print(df)

# set threshold for missing values
threshold = len(df.columns) / 2  # 50% of columns

print(threshold)

# check for rows with more than 50% missing values
missing_rows = df[df.isna().sum(axis=1) >= threshold]

print(missing_rows)

     Name   Age Gender
0    John  28.0   Male
1   Emily   NaN   None
2   Harry   NaN   None
3  Sophia   NaN   None
4   David   NaN   Male
1.5
     Name  Age Gender
1   Emily  NaN   None
2   Harry  NaN   None
3  Sophia  NaN   None

In [14]:
print(df)
print(missing_rows)

     Name   Age Gender
0    John  28.0   Male
1   Emily   NaN   None
2   Harry   NaN   None
3  Sophia   NaN   None
4   David   NaN   Male
     Name  Age Gender
1   Emily  NaN   None
2   Harry  NaN   None
3  Sophia  NaN   None

In [19]:
df_deleted_missing = df.drop(missing_rows.index)

In [21]:
df_deleted_missing

    Name   Age Gender
0   John  28.0   Male
4  David   NaN   Male

In [22]:
missing_rows.index

Int64Index([1, 2, 3], dtype='int64')

In [30]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Emily', 'Harry', 'Sophia', 'David'],
        'Age': [28, None, 21, None, 42],
        'Gender': [None, 'Female', None, 'Female', 'Male']}
df = pd.DataFrame(data)

# check for missing values in each column
missing_values = df.isnull().sum()

print(missing_values)

Name      0
Age       2
Gender    2
dtype: int64

In [28]:
df = df.drop(missing_values)

In [26]:
df

     Name   Age  Gender
1   Emily   NaN  Female
3  Sophia   NaN  Female
4   David  42.0    Male